<div class="row" id="feed_events" ng-controller="eventListController">
   <div class="col-md-offset-2 col-md-8">
     <ul class="event-list">

      <li class="event-listing" ng-repeat="event in getFeedScope().events|filter:{university_location:filterUniversity, sport:filterSport, date:filterDate}|orderBy:'date':true">
        <div class="event_info" role="button" data-toggle="collapse" href="#info_extra_{{event.id}}" aria-expanded="false" aria-controls="collapseExample">
           <time datetime="2014-07-20">
             <span class="day">{{event.day_name}}</span>
             <span class="day_number">{{event.day_number}}</span>
             <span class="month">{{event.month}}</span>
             <span class="year">{{event.year}}</span>
           </time>
           <!-- TODO: image corresponding to sport to put -->
           <%= image_tag("football.png", alt: "Example Image", class: "img")%>
           <div class="info">
             <div class="title pull-right col-md-5">
               <div class="col-md-5 text-right">
                 <b>{{event.participants}}/{{event.needed}}</b>
               </div>
               <div class="progress col-md-7">
                 <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="{{event.participants / event.needed * 100}}"
                     aria-valuemin="0" aria-valuemax="100"
                     style="width: {{event.participants / event.needed * 100}}%;">
                 </div>
               </div>
             </div>
             <h3 class="title">{{event.sport}}</h3>
             <p class="desc">{{event.start_time}} to {{event.end_time}}</p>
             <p class="desc">Around {{event.university_location}}, {{event.location}}</p>
             <% if user_signed_in? %>
               <p class="text-right col-md-12">Posted by {{event.first_name}} {{event.last_name}}, {{event.university_name}}</p>
             <% end %>
           </div>
         </div>

         <div class="collapse" id="info_extra_{{event.id}}">
           <div class="event_info_extra">
             <p>Additional informations</p>
             <div class="well">
               {{event.additional_info}}
             </div>
             <div class="join_button">
               <button type="button" class="btn btn-success pull-right"
                   ng-click="joinEvent(event.id)">Ask to join!</button>
             </div>
           </div>
         </div>
       </li>

     </ul>
   </div>
 </div>
