<article class="row">

  <div class="col-md-offset-2 col-md-8">

      <div class="panel panel-default event-listing" ng-repeat="event in events|filter:{university_location:filterUniversity, sport:filterSport, date:filterDate}|orderBy:'date':true">

        <div class="panel-heading">
          <h3 class="panel-title">{{event.sport}}</h3>
        </div>

        <div class="panel-body">
          <div class="row">

            <%= image_tag("tennis.png", alt: "Example Image", class: "col-md-2 image-responsive tennis")%>

            <div class="col-md-10">

              <p class="pull-right">Participants: <b>{{event.participants}}</b></p>
              <p>Around: {{event.university_location}}</p>
              <p class="pull-right">Needed: <b>{{event.needed}}</b></p>
              <p>{{event.location}}</p>
              <p>{{event.date}}</p>
              <p>Starts at {{event.start_time}}</p>
              <p>Ends at {{event.end_time}}</p>
              <% if user_signed_in? %>
                <p class="pull-right">Posted by {{event.first_name}} {{event.last_name}}, {{event.university_name}}</p>
              <% end %>

            </div>

          </div>
        </div>
      </div>

  </div>

</article>
