<div class="row" id="feed_events" ng-controller="eventListController">
   <div class="col-md-offset-2 col-md-8">

     <ul class="event-list" id="accordion">
      <li class="event-listing panel"
          ng-repeat="event in getFeedScope().events
          | filter: {university_location: filterLocation,
                     sport: filterSport,
                     date: convertFilterDate(),
                     university_name: filterUniversity}
          | orderBy: 'date'">

        <!-- Event layout -->
        <div class="event_info" role="button" data-toggle="collapse"
            data-parent="#accordion"
            href="#info_extra_{{event.id}}"
            aria-expanded="false" aria-controls="collapseExample">

          <%= render "shared/event_body" %>
        </div>

        <!-- Collapse layout (hidden layout revealed on click) -->
         <div class="collapse" id="info_extra_{{event.id}}">
           <div class="event_info_extra">
             <div ng-if="hasAdditionalInfos(event.additional_info)">
               <p>Posted by</p>
               <div class="well">
                 {{event.first_name}} {{event.last_name}}, {{event.university_name}}
               </div>
               <p>Meet at:</p>
               <div class="well">
                 {{event.location}}
               </div>
               <p>Additional informations</p>
               <div class="well">
                 {{event.additional_info}}
               </div>
             </div>
             <div class="join_button">
               <button type="button" class="btn btn-success pull-right"
                   ng-click="joinEvent(event.id)" ng-disabled="isEventFull(event)">Ask to join!</button>
             </div>
           </div>
         </div>

       </li>
     </ul>

   </div>
 </div>
