<nav class="navbar navbar-findcond navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

		  <div class="col-md-offset-2 col-md-2 navbar-header">
		  	<a class="navbar-brand" href="#">UniSport</a>
		  </div>

		  <div class="col-md-offset-4 col-md-2" id="navbar">
		  	<ul class="nav navbar-nav navbar-right">
		  		<!-- <li class="dropdown">
		  			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Bildirimler <span class="badge">0</span></a>
		  		</li>

		  		<li class="active"><a href="#">Ana Sayfa <span class="sr-only">(current)</span></a></li>

		  		<li class="dropdown">
		  			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
		  		</li> -->

          <li>
            <a href="#" data-toggle="modal" data-target="#myModal">New Event</a>
          </li>

          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button> -->

          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>

		  	</ul>
		  </div>
    </div>
	</div>
</nav>

<!-- Pop up -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add an Event</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Sport" aria-describedby="sizing-addon2" ng-model="createSport"></input>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Date" aria-describedby="sizing-addon2" ng-model="createDate"></input>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Start Time" aria-describedby="sizing-addon2" ng-model="createStartTime"></input>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="End Time" aria-describedby="sizing-addon2" ng-model="createEndTime"></input>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Location" aria-describedby="sizing-addon2" ng-model="createLocation"></input>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Needed" aria-describedby="sizing-addon2" ng-model="createNeeded"></input>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Minimum" aria-describedby="sizing-addon2" ng-model="createMinimum"></input>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Additional info" aria-describedby="sizing-addon2" ng-model="createAdditional"></input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- FIXME: dissmiss only on success -->
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createEvent()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- End of Pop up -->

<div class="container-fluid">

  <div class="row">

    <div class="col-md-offset-2 col-md-2">
      <div class="dropdown open">
        <input type="text" class="form-control" placeholder="University" aria-describedby="sizing-addon2" ng-model="searchUniversity"></input>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-hide = "selectedUni.length == 0">
          <li ng-repeat="university in selectedUni = (getSearchUniversities() | filter:searchUniversity)">
            <div class="dropdown-item" ng-click="getFeedScope().filterUniversity = university.name">{{university.name}}</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="btn-group col-md-2 dropdown">
      <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{selectedSport}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu col-md-2">
        <li ng-repeat="sport in sports">
          <div class="dropdown-item" ng-click="getFeedScope().updateSport(sport.name)">{{sport.name}}</div>
        </li>
      </ul>
    </div>

    <div class="col-md-2">
      <div class="input-group date" data-provide="datepicker" data-date-format="yyyy/mm/dd">
        <input type="text" class="form-control" ng-model="filterDate">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>
    </div>

    <div class="btn-group col-md-2 dropdown">
      <button type="button" class="btn btn-success btn-block" ng-click="removeFilters()">
        Remove filters
      </button>
    </div>

    <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in sports" md-item-text="sport.name">
  <span md-highlight-text="searchText">{{sport.name}}</span>
</md-autocomplete>

  </div>

  <article class="row">

    <div class="col-md-offset-2 col-md-8">

        <div class="panel panel-default" ng-repeat="event in events|filter:{university:filterUniversity, sport:filterSport, date:filterDate}|orderBy:'date':true">

          <div class="panel-heading">
            <h3 class="panel-title">{{event.sport}}</h3>
          </div>

          <div class="panel-body">
            <div class="row">

              <%=image_tag("tennis.png", alt: "Example Image", class: "col-md-2 image-responsive tennis")%>

              <div class="col-md-10">

                <p class="pull-right">{{event.needed}}</p>
                <p>{{event.university}}</p>
                <p>{{event.date}}</p>
                <p>{{event.place}}</p>
                <p class="pull-right">{{event.id}}</p>
              </div>

            </div>
          </div>
        </div>

    </div>

  </div>

  </article>

</div>
