<header>
  <h1>
    Welcome to UniSport, <%= current_user.email %> !
  </h1>
  <h2> 
  	Your home of sport at university
  </h2>

  <%= link_to 'My Events', controller: 'events' %>
  <%= link_to 'New Event', new_event_path %>
</header>
