/*
 *= require application
 *= require bootstrap-datepicker3
 *= require angucomplete-alt
 *= require navigation_bar
 *= require_self
 */

// Main elements

 body {
   padding-top: 72px;
 }

 // Create event styling

 // Filters styling

 .highlightLetters {
    color: #ff0000;
}

 // Events feed styling

 article {
   padding-top: 20px;
 }

.tennis {
  padding-left: 30px;
  padding-right: 30px;
}
