/*
 *= require application
 *= require events
 *= require event_participants_selection
 *= require_self
 */

 /*
  *  Main elements
  */

 body {
   padding-top: 80px;
 }

 @media (min-width: 768px) {
   .row-eq-height {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display:         flex;
   }
 }

// Modify the color of the settings icons
a #settings {
  color: #000000;
}

#boxContainingParticipantToEvent {
  -webkit-transition: 0.25s linear all;
  -moz-transition: 0.25s linear all;
  -o-transition: 0.25s linear all;
  transition: 0.25s linear all;
}

.fa {
  padding-right: 2px;
}

.fa-file-text {
  padding-left: 2px;
  padding-right: 5px;
}

.fa-phone {
  padding-left: 3px;
  padding-right: 6px;
}
