<div class="modal fade" id="select_participants" tabindex="-1" role="dialog" aria-labelledby="select_participants">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select participants</h4>
      </div>

      <div class="modal-body">
        <div class="container-fluid">

          <div class="row"
               ng-repeat="participant in eventParticipants">
            <div class="col-md-12 well">

              <div class="pull-right">
              <button type="button" class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-danger btn-circle btn-lg"><i class="glyphicon glyphicon-remove"></i></button>
              </div>

              <h5>Hello: {{participant.first_name}}</h5>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
