<div class="row" ng-controller="profileController">
   <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">

      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row row-eq-height">
            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-3 text-center">
              <%= image_tag("bogoss.jpg", class: "center-block img-circle img-thumbnail img-responsive")%>
            </div>
            <div class="col-xs-12 col-sm-9">
              <h2>Paul Vidal</h2>
              <p><strong>University: </strong> Imperial College London </p>
              <p><strong>Description: </strong> Hey there ! I am a student fond of sport and would love to meet new peoples </p>
              <p><strong>Favourites Sports: </strong>
                <span class="label label-success tags" ng-click="test()">Rugby</span>
                <span class="label label-success tags">Gym</span>
                <span class="label label-success tags">Running</span>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
